#index{
    height : 190vw;
    width : 100%;
}

header{
    height : 6%;
}   

#index > article{
    height  : 90%;
}

#index article h2{
    display:none;
}

#index article h2#weAre{
    font-size : 9vw;
    margin : 0%;
    height : 10%;
    align-content: center;
    background-color: #2699FB;
    display: unset;
}

#index article img {
    width   : 99%;
    height  : 21%;
    object-fit: fill;
    margin: 0.5%;
}

nav a{
    display: none;
}

nav{
    height : 4%;
}

footer{
    font-size: 3.5vw;
}

.images img{
    width:92%;
    height:7.6%;
    margin-top: 3.3%;
    margin-left: 3.3%;
}

#product{
    height : 300vw;
    width : 60%;
    margin-left: 20%;
}

.images{
    height : 92%;
    margin-bottom: 1%;
}

aside {
    height : 2%;
}

aside#large{
    display: none;
}

#product footer{
    margin-top: 0%;
    height: 2%;
}

#product header{
    height : 3%;
    font-size: 3vw;
}

#product nav{
    height : 1%;
    font-size: 2.5vw;
}

#contact {
    height : 140vw;
    width : 100%;
    margin-left: 0%;
}

form{
    height: 65%;
    font-size: 2.5vw;
}

#contact aside{
    height:7%;
    font-size: 8vw;
}

fieldset.contactFormFieldset{
    height:12.25%;
    font-size: 3vw;
}

fieldset.contactFormFieldset#selector{
    height:20%;
}

#contact header{
    height : 10%;
    font-size: 5vw;
}

#contact nav{
    height : 10%;
}

#moreinfo{
    display:none;
}

fieldset > textarea{
    font-size: 2.5vw;
}
fieldset > select{
    margin: 1%;
    width: 98%;
    height:45%;
    object-position: center;
}

fieldset > label{
    float:left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5vw;
    margin-Left:1%;
    margin-top:0%;
    width:90%;
    text-align: left;
}

.submitbutton{
    font-size : 3.75vw;
}