#index{
    height : 130vw;
    width : 60%;
    margin-left: 20%;
}

header{
    height : 6%;
}   

#index > article{
    height  : 90%;
}

#index article h2{
    height : 7.5%;
}

#index article img {
    width   : 100%;
    height  : 17.25%;
    object-fit: fill;
    margin:0%;
}

nav{
    height : 2%;
}

footer{
    font: 1.5vw Arial;
}

.images img{
    width:31%;
    height:21%;
    margin-top: 1.7%;
    margin-left: 1.7%;
}

#product{
    height : 60vw;
    width : 100%;
    margin-left: 0%;
}

.images{
    height : 77%;
}

aside {
    height : 8%;
}

aside#small{
    display: none;
}
#product footer{
    height: 3%;
}

#product header{
    height : 10%;
    font: 2vw Berlin Sans FB;
}

#product nav{
    height : 3%;
    font-size: 1.5vw;
}

#contact {
    height : 45vw;
    width : 60%;
    margin-left: 20%;
}

form{
    height: 57%;
    font: 1.5vw Arial;
}

#contact aside{
    height:12%;
}

fieldset.contactFormFieldset{
    height:7.5%;
}

#contact header{
    height : 10%;
    font: 2vw Berlin Sans FB;
}

#contact nav{
    height : 4%;
}

fieldset > textarea{
    font: 1.5vw Arial;
}

fieldset > select{
    float:right;
    margin:0.5%;
    width:60%;
    height:65%
}

fieldset > label{
    float:left;
    font-family: 'Times New Roman', Times, serif;
    font: 1.5vw Arial;
    margin-Left:1%;
    margin-top:0%;
}

.submitbutton{
    font: 1.75vw Arial;
}