#index{
    height : 90vw;
    width : 100%;
}

header{
    height : 10%;
}   

#index > article{
    height  : 85%;
}

#index article h2{
    height : 12%;
}

#index article img {
    margin-left: 0.5%;
    margin-top: 0.5%;
    width   : 47%;
    height  : 37.5%;
    object-fit: fill;
}

.irrText{
    display: none;
}

#pawn{
    display: none;
}

#index article img#controller {
    width   : 100%;
    margin-left:0%;
    margin-top: 0%;
}


nav{
    height : 3%;
}

footer{
    font-size:1.5vw;
}

.images img{
    width:45.5%;
    height:15%;
    margin-top: 3%;
    margin-left: 3%;
}

#product{
    height : 125vw;
    width : 100%;
    margin-left: 0%;
}

.images{
    height : 84%;
    margin-bottom: 1%;
}

aside {
    display: none;
}

#product footer{
    margin-top: 2%;
    height: 3%;
}

#product header{
    height : 10%;
    font-size: 2vw;
}

#product nav{
    height : 3%;
    font-size: 2.5vw;
}

#contact {
    height : 60vw;
    width : 100%;
    margin-left: 0%;
}

form{
    height: 75%;
    font-size: 1.5vw;
}

#contact aside{
    height:12%;
}

fieldset.contactFormFieldset{
    height:7.5%;
}

fieldset.contactFormFieldset#selector{
    height:20%;
}

#contact header{
    height : 10%;
    font-size: 2vw;
}

#contact nav{
    height : 4%;
}

#moreinfo{
    display: none;
}

fieldset > textarea{
    font-size: 1.5vw;
}

fieldset > select{
    margin: 1%;
    width: 98%;
    height:45%;
    object-position: center;
}

fieldset > label{
    float:left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    margin-Left:1%;
    margin-top:0%;
    width:90%;
    text-align: left;
}

.submitbutton{
    font-size : 1.75vw;
}