html{
    margin:0%;
    padding:0%;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    margin:0%;

}

body{
    background-image: url(../img/background.jpeg);
    background-size: fill;
    background-repeat: no-repeat;
    margin:0%;
}

#index{
    height : 130vw;
    width : 60%;
    margin-left: 20%;
    text-align: center;
    color: #FFFFFF;
}

header{
    background-image: url(../img/companylogoBG.jpg);
    background-size: cover;
    height : 6%;
    text-align: center;
    vertical-align: middle;
    font-size: 3vw;   
    margin-top:0%;
}   

#index > article{
    height  : 23%;
    background-color: #2699FB;
    text-align: center;
}

#index article h2{
    font-size : 4.5vw;
    margin : 0%;
    height : 30%;
    align-content: center;
}

#index article img {
    width   : 100%;
    height  : 70%;
    object-fit: fill;
}

nav a{
    color: #FFFFFF;
    text-decoration: none;
    object-position: center;
    margin-left: 2%;
    margin-right: 2%;
}

nav{
    background-color: #707070;
    height : 2%;
    font-size: 2vw;
}

footer{
    background-color: #000000;
    height : 1%;
    font-size:2vw;
}

.images img{
    width:45.5%;
    height:15%;
    margin-top: 3%;
    margin-left: 3%;
    float:left;
    object-fit: fill;
}

#product{
    height : 125vw;
    width : 60%;
    margin-left: 20%;
    text-align: center;
    color: #FFFFFF;
    background-color: #FFFFFF;
}

.images{
    height : 84%;
    margin-bottom: 1%;
}



aside {
    height : 0%;
    background-color : #2699FB;
    font-size : 4vw;
    margin-top : 0.2%;
    display: none;
}

#product footer{
    margin-top: 2%;
    height: 3%;
}

#product header{
    height : 10%;
    font-size: 2vw;
}

#product nav{
    height : 3%;
    font-size: 2.5vw;
}

#contact {
    height : 45vw;
    width : 60%;
    margin-left: 20%;
    text-align: center;
    color: #FFFFFF;
    background-color: #F5F5F5;
}

form{
    height: 57%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
}

#contact aside{
    height:12%;
}

fieldset.contactFormFieldset{
    height:7.5%;
}

#contact header{
    height : 10%;
    font-size: 2vw;
}

#contact nav{
    height : 4%;
    font-size: 1.2vw;
}

#moreinfo{
    font-size : 1.5vw;
    color:#AAAAAA;
    text-align: Left;
    margin-Left:2%;
}

fieldset{
    width:80%;
    margin-left:10%;
    margin-top:2.5%;
    height: 20%;
    background-color: #FFFFFF;
    color:#AAAAAA;
    padding:0%;
    border-width:1px;
}

fieldset > input{
    width:98%;
    height: 90%;
    border-width:0px;
    font-size: 1.6vw;
}

fieldset > textarea{
    width:98%;
    height: 90%;   
    border-width:0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
}

fieldset > select{
    float:right;
    margin:0.5%;
    width:60%;
    height:65%
}

fieldset > label{
    float:left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
    margin-Left:1%;
    margin-top:0%;
}

.submitbutton{
    height : 10%;
    background-color : #2699FB;
    color:#FFFFFF;
    font-size : 1.75vw;
    width: 80%;
    margin-top:2.5%;
}

#contact footer{
    height:5.1%;
    font-size: 1.5vw;
}

#contact header {
    height:12%;
}